<div>
		<h2> <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Web Notifications</h2>
		<p>The Notifications API allows web pages to control the display of system notifications to the end user — these are outside
			the top-level browsing context viewport, so therefore can be displayed even the user has switched tabs or moved to a different
			app. The API is designed to be compatible with existing notification systems across different platforms.</p>
		<div>
			<input [(ngModel)]="name" placeholder="First and Last Name" />
			<!--<p>Name: {{name}}</p>-->
		</div>
    <br>
		<div>
			<button (click)="notify(name)" class="button-primary">Notify Me!</button>
		</div>
	</div>