<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h2>
    About
  </h2>
  
</div>
<div class="row">
  <div class="twelve columns">
    <section>I am:
      <br>
      <ul>
        <li>Nicholas J Coats.</li>
        <li>Software Developer.</li>
        <li>Dogfather.</li>
        <li>Musician.</li>
      </ul>
    </section>

    <section>I work on:
      <br>
      <ul>
        <li>Java.</li>
        <li>Javascript.</li>
        <li>REST APIs.</li>
      </ul>
    </section>
</div>



