<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <img width="300" class="img-circle" src="https://avatars3.githubusercontent.com/u/2763721?v=4&s=460">
  <nav>
    <a routerLink="/" routerLinkActive="active" class="button nav-button">Home</a>
    <a routerLink="/webgl" routerLinkActive="active" class="button nav-button">WebGL + Gamepad</a>
     <a routerLink="/notifications" routerLinkActive="active" class="button nav-button">Web Notifications</a>
    <a routerLink="/about" routerLinkActive="active" class="button nav-button">About</a>
  </nav>
  <a href="https://www.facebook.com/nick.coats.go" class="fa fa-facebook-square"></a>
  <a href="twitter.com/coatsnmore" class="fa fa-twitter-square"></a>
  <a href="github.com/coatsnmore" class="fa fa-github-square"></a>
  <a href="https://stackoverflow.com/users/262106/nick" class="fa fa-stack-overflow"></a>
</div>