<div>
	<h2> <i class="fa fa-gamepad" aria-hidden="true"></i> Web GL</h2>
	<p>WebGL (Web Graphics Library) is a JavaScript API for rendering interactive 3D and 2D graphics within any compatible web
		browser without the use of plug-ins. WebGL does so by introducing an API that closely conforms to OpenGL ES 2.0 that can
		be used in HTML5 canvas elements.</p>

	<p>In this little demo, I have used Pixi.js for convenient rendering, p2.js for physics, the Gamepad API for controls, and
		some custom code to drive a little spaceship around and shoot some lasers.</p>

	<div>
		<i class="fa fa-gamepad fa-3x" aria-hidden="true"></i> <b>Gamepad Controls</b>
		<div>Left/Right to turn</div>
		<div>Up to Accelerate</div>
		<div>A to shoot.</div>
	</div>
	<div>
		<i class="fa fa-keyboard-o fa-3x" aria-hidden="true"></i> <b>Keyboard Controls</b>
		<div>Left/Right to turn</div>
		<div>Up to Accelerate</div>
		<div>Space bar to shoot.</div>
	</div>

	<div id="scene"></div>
</div>