<!--The content below is only a placeholder and can be replaced.-->
<div class="row">

  <div>
    <h2>
      <i class="fa fa-home" aria-hidden="true"></i> Home
    </h2>
  </div>

  <br> <br>
  <div class="twelve columns white-background">
    <p>This is the personal website of Nicholas J Coats and this site is mostly web experiments.  I like the browser as a rich, interactive user-agent.  It has its own storage, session mechanism, and a lot of adaptability built in.  I have built a few small games with some different technologies, only some of which are previewed here.
    <p>Check out my <a href="http://github.com/coatsnmore">code; if you dare.</a></p>
    <p>This site is powered by various libraries including:</p>
    <ol>
      <li>PixiJS</li>
      <li>ThreeJS</li>
      <li>ParticlesJS</li>
      <li>p2.js</li>
      <li>CreateJS</li>
      <li>Angular (used to be VueJS)</li>
    </ol>
    The entire site is written in browser-compatible Javascript, or some language varient like Typescript.  I try to write in browser-native es8+ to keep as compatible as possible without the use of a transpiled language.  I don't like having the library dependency as long-term tools are still changing.
  </div>

</div>